.App {
  background-color: whitesmoke;
  


/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .heading-5 {
    font-size: 18px;
  }
  .App{
    background-color: aliceblue;
    width:100vw;
  }
}
}
.header{
  background-color: black;
  height: 60px;
  display: flex;
  @media(min-width:768px) {
    width: auto;
  }

}

.tiny{
  display: flex;
  align-items: left;
  margin: 10px;
}



/* Best Website builders in the US */


#title{
  display: flex;
  align-items: center;
  justify-content:center ;
  @media(min-width:768px) {
    width: auto;
  }
  
}

.svgs1{
  margin-top: 11px;
}


.tiny-update{
  display: flex;
}

#para{
  margin: 10px;
 
}

.cards-container{
  height: 19rem;
  width: 80%;
  margin: 0 auto; /* Add this to center the container horizontally */
  margin-bottom: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: white;

}
.cards-container a{
 
  padding-bottom: 10px;
}
.cards04-container a{
  padding-bottom: 10px;
}
.Advertising{
  display: flex;
}

.texts{
  color:white;
  margin: 18px;
  margin-left: 30px;
  text-decoration: none;
}

.inputs{
  height:37px;
  margin-right: 10px;
  margin-top: 8px;
  width: 258px;
  border-radius: 9px;
  align-items: center;
  margin-left: 24rem;



}
.inputs::placeholder{
  padding: 5px;
}



.searchbox{
  display: flex;
}

@media (max-width:882px) {
  .inputs{
    margin-left: 5px;
    margin-right: 5px;
  }
  .texts{
    margin: 5px;
    margin-top: 20px;
    font-size: 14px;
  }
  
}

.menu-container{
  background-color: white;
  width: 110px;
  height: 36px;
  display: flex;
  border-radius: 8px;
  
  margin-left: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.menu-container p{
  text-align: center;
  
}

.menus{
  display: flex;
}

.list{
  display: flex;
 

}
.list li{
  list-style: none;
  margin: 10px;
  color: black;
}
.list a{
  text-decoration: none;
}

.svgs{
  padding-top: 3px;

  margin-top: 14px;
}

.home a{
 padding-top: 4px;
}

.pic-container{
  text-align: 'left';
}
.pic{
  width: 141px;
  height: 103px;
  display: 'block';
  margin-left: '0';
  margin-right: 20px;
}

.img-container{
  display: flex;
  flex-direction: column;
}
.desc-container{
   width: 600px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}
.desc-container p{
  margin-top: 0px;
}
.btn{
  background-color: #1B88F4;
  width: 200px;
  height: 32px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 150px;
  margin-left: 100px;
  bottom: 10%;

}
.btn:hover{
  background-color: blue;
}
.right-container{
  display: flex;
  flex-direction: column;

  
  
}

#desc04{
  margin-top: -63px;
}

.stars{
  position: absolute;
  top: 0;
  right:90px;
  background-color: #F3F9FF; /* Just for visualization */
  color: blue; /* Just for visualization */
 
 
  width: 125px;
  height: 120px;
  border-radius: 0px 0px 12px 12px;
}

.stars p{
  text-align: center;
  font-size: 17px;
  padding: 0;
}
.stars h5{
  text-align: center;
  padding-bottom: 10px;
}

.stars-svg{
  padding: 0;
  margin-left: 30px;
  align-items: center;
}

.piccontainer p{
  margin-left: 45px;
}

#num{

  height: 30px;
  width: 30px;
  text-align: center;
  align-items:start;
  border-radius: 20px;
  padding: 2px;
  left:0;
  position: absolute;
  margin-left: -15px;
  
  /* Align the child to the extreme left */
  top: 20%; /* Adjust top position as needed */
  transform: translateY(-50%); /* Center the child vertically */
  /* Set the height of the child */
  background-color: white;
  
}

.main-highlights{
  background-color: antiquewhite;
  height: 160px;
}

.cards04-container{
  height: 410px;
    width: 80%;
  margin: 0 auto; /* Add this to center the container horizontally */
  margin-bottom: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: white;
}

.reasons{
  display: flex;
 
  flex-direction: row;
   margin-right: 209px;
}
.reasons li{
  list-style: none;
  margin-right: 209px;
}

.reasons-svg{
  margin-right: 5px;
   
}

.deal-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 40%;
  width:350px;
  border-radius: 18px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.btn-2{
  background-color: #1B88F4;
  border: none;
  color: white;
  text-align: center;
  width: 286px;
    height: 33px ;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
}

.btn-2:hover{
  background-color: blue;
}
.finalcontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.benefits{
   background-color: whitesmoke;
   height: 20px;
   width: fit-content;
   border-radius: 4px;
   margin:8px;
   padding: 4px;
   align-items: center;
}

.benefits-container{
  display: flex;
  
}

.price-container{
  display: flex;
  margin-right: 4px;

}
.price-container p{
  margin-right: 8px;
  margin-top:0;
  
}

#thirtynine{
  
  font-size: 20px;
  height: 8px;
  padding: 0;
  
}
#fortysix{
  font-size: 17px;
 
  height: 8px;
  padding: 0;
  opacity: 0.4;
}

#off{
  color: red;
}
.heading-5{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.before-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.before-footer h1{
  margin-right: 10px;
  width: 400px;
  font-weight: 300;
}

.signup-input{
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 8px 0px 0px 8px;
}
.signup-btn{
  height: 40px;
  
  background-color: #1B88F4;
  color: white;
  text-align: center;
  border: none;
  width: 80px;
  border-radius: 0px 8px 8px 0px;
}

.signup-btn:hover{
  background-color: blue;
}

.foot-container {
  width: 100%;
  background: #212731;
  padding: 20px;
  box-sizing: border-box;
}

.foot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.cat {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 768px) {
    margin-bottom: 20px;
    align-items: center;
  }
}

.cat li {
  list-style: none;
  margin-bottom: 12px;
  width: 250px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

#categories {
  font-size: 20px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.drop {
  border: none;
  color: white;
  background: #212731;
  font-size: 16px;
  width: 100%;

  @media (max-width: 768px) {
    margin-top: 10px;
  }
}

.inputs-container{
  display: flex;
}
.search-button{
  background-color: #1B88F4;
  color: white;
  padding: 5px;
  border-radius: 4px;
  width: 80px;
  height: 30px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}
.search-button:hover{
  background-color: blue
}